# Logs
*.log

# CSV exports
*.csv

# SQL dumps
*.sql

# SQLite databases
*.db
*.db-shm
*.db-wal

# JSON data files
*.json

# Temp/cache files
https:::*

# Node
node_modules/
package-lock.json

# OS
.DS_Store
